<html>

    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>

        <div class="after-navbar">

            <h1 class="text-center mb-2">Update Your Details</h1>
          
            <form method="POST" action="/user/<%=user.user_id%>/dashboard/editprofile?_method=PATCH">
    
                <div class="col-md-8 m-auto">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row edit-form">
                                <div class="col-sm-3">
                                    <h6>Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="name" value="<%=user.name%>">
                                </div>
                            </div>
                            <hr>
                            <div class="row edit-form">
                                <div class="col-sm-3">
                                    <h6>Personal Website</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="website" value="<%=user.website%>">
                                </div>
                            </div>
                            <hr>
                            <div class="row edit-form">
                                <div class="col-sm-3">
                                    <h6>Facebook</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="facebook" value="<%=user.facebook%>">
                                </div>
                            </div>
                            <hr>
                            <div class="row edit-form">
                                <div class="col-sm-3">
                                    <h6>Instagram</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="instagram" value="<%=user.instagram%>">
                                </div>
                            </div>
                            <hr>
                            <div class="row edit-form">
                                <div class="col-sm-3">
                                    <h6>Pinterest</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="pinterest" value="<%=user.pinterest%>">
                                </div>
                            </div>
                                                        
                            <div class="row mt-3" >
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                    <a href='/user/<%=user.user_id%>/dashboard/'><button type="button" class="btn btn-info" style="background-color: lightgreen;">Go Back Without Saving</button></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>      
                </div>
    </body>
</html>