<!DOCTYPE html>
<html>
    
    <%- include('./partials/head') %>
    
    <body>

        <%- include('./partials/nav') %>
        <div style="height: fit-content;" id="banner">
            <object data="/Images/FoodGram (1).svg" style="width:100vw;" > </object>
        </div>
        
         <% if(success_message && success_message !== "") { %>
            <div class="alert alert-success d-flex align-items-center" role="alert" style="margin-top: 2em;">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div>
                <%= success_message %>
              </div>
            </div>
        <% } %>
        
        <div class="mt-2">

            <div class="row" id="index-filter-btns">
                <div class="btn-group me-2" role="group" aria-label="Second group" id="filter-button">
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Show All</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Chinese</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Indian</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Japanese</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Italian</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Mexican</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Spanish</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Middle-Eastern</button>
                    <button type="radio" class="btn btn-secondary index-filter-button" id="all-cuisine-btn">Others</button>
                    <form method="POST" class="btn btn-secondary" action='/recipes/filter'>
                        <input type="text" name="searchTagInput" id="searchTagInput" placeholder="search #tags"/>
                        <button type="submit" id="search-tag"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <select id="mobile-filter"> 
                    <option class="select-options" value="show all" selected="selected">Filter Cuisine</option> 
                    <option class="select-options" value="chinese">Chinese</option> 
                    <option class="select-options" value="Indian">Indian</option> 
                    <option class="select-options" value="japanese">Japanese</option> 
                    <option class="select-options" value="italian">Italian</option> 
                    <option class="select-options" value="mexican">Mexican</option> 
                    <option class="select-options" value="spanish">Spanish</option> 
                    <option class="select-options" value="middle-eastern">Middle-Eastern</option>
                    <option class="select-options" value="others">Others</option> 
                  </select> 

            </div>
            
            <div class="row" id="whole-list">
                <% for(let i=0; i < recipes.length; i++) { %>

                    <div class="card index-card <%=recipes[i].cuisine%>  h-200" style="width: 24rem;">
                        <h4 class="card-title mt-3 mb-3 text-center"><%=recipes[i].name%></h4>
                        <div class="embed-responsive">
                            <img src="<%=recipes[i].image%>" class="card-img-top" alt="..." style="max-height: 50vh;">
                        </div>
                        <div class="card-header p-0 m-auto" style="height: fit-content;">
                          <ul class="snapshot" style="margin: 10px 0 0 0">
                            <li class="snapshot" style="margin:0 12px 0 12px;"><span class="iconify" data-icon="bx:bxs-user" data-inline="true"></span><span><%=recipes[i].serves%> </span></li>
                            <li class="snapshot"><span class="iconify" data-icon="ant-design:clock-circle-outlined" data-inline="true"></span><span><%=recipes[i].time%></span></li>
                            <% if(recipes[i].difficulty === 'Easy') { %>
                            <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-1" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } else if(recipes[i].difficulty === 'Medium') { %>
                                <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-2" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } else if(recipes[i].difficulty === 'Hard') { %>
                                <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-3" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } %>
                            
                            <% if(recipes[i].reviews.length > 0) { %>
                                <% let ratingSum = 0; %>
                                <% for (let j = 0; j<recipes[i].reviews.length; j++) { %>
                                    <% ratingSum += recipes[i].reviews[j].rating %>
                                <% } %>
                                <% let averageReviews = ratingSum/recipes[i].reviews.length %>        
                                <li class="snapshot"><span><%=averageReviews.toFixed(2)%><span class="iconify" data-icon="typcn-star" data-inline="true"></span></span></li>
                            <% } %>
                        </ul>
                        </div>
                        <div class="card-body">
                            <div class="row index-recipe-summary">
                            <p class="card-text index-recipe-summary" style="text-align: justify;"><%= recipes[i].summary %></p>
                            </div>                        
                            <div class="row mb-2 mt-3">
                            <% let indexTags = '' %>
                            <% if(recipes[i].tags) { %>
                                
                                <%for(let j = 0; j < recipes[i].tags.length; j++) {%>
                                    <%indexTags += recipes[i].tags[j].tag + ' '%>
                                <%}%>
                                <p style="font-size: 0.9em;"><%=indexTags.trim()%></p>
                            <%}%>
                            </div>
                          
                          <a href="/recipes/<%= recipes[i]._id%>" class="btn btn-primary">Show Full Recipe</a>
                        </div>
                    </div>
    
                <% } %>

            </div>
            
                

        </div>

        <!-- Script file for filtering -->
        <script> 
            <%- include("../scripts/index-filter.js") %> 
        </script> 


        
    </body>


</html>