<!DOCTYPE html>
<html>
    
    <%- include('./partials/head') %>

    <body>
        <div class="index-container">
            
            <% for(let i=0; i < recipes.length; i++) { %>

            <div class="index-item">

                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/oatmeal.jpg" alt="Chai Oatmeal" />
                
                <article>
                    <h2><%=recipes[i].name%></h2>

                    <ul class="snapshot">
                        <li class="snapshot"><span class="iconify" data-icon="bx:bxs-user" data-inline="true"></span><span><%=recipes[i].serves%> </span></li>
                        <li class="snapshot"><span class="iconify" data-icon="ant-design:clock-circle-outlined" data-inline="true"></span><span><%=recipes[i].time%> mins</span></li>
                        <% if(recipes[i].difficulty === 'easy') { %>
                        <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-1" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                        <% } else if(recipes[i].difficulty === 'medium') { %>
                            <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-2" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                        <% } else if(recipes[i].difficulty === 'hard') { %>
                            <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-3" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                        <% } %>
                        
                        <% if(recipes[i].reviews.length > 0) { %>
                            <% let reviews = recipes[i].reviews %>
                            <% let averageReviews = 0 %>
                            <% reviews = reviews.reduce(function(a, b){ %>
                               <% return a + b; %>
                            <% }, 0) %>
                            <% averageReviews = sumReviews/reviews.length %>    


                            <li class="snapshot"><span><%= averageReviews %></span></li>
                        
                        <% } %>
                        
                    </ul>
                        <% let ingredients = [] %>
                        <%for (let j = 0;  j < recipes[i].ingredient.length; j++) { %>                            
                            <% ingredients.push(recipes[i].ingredient[j].item) %>
                        <% } %>    
                    

                    <p><%= recipes[i].summary %></p>

                    <p><span class="bold">Ingredients:&nbsp;</span><%= ingredients.join(', ')%></p>
                    
                </article>
                <a href="/recipes/<%= recipes[i].user_id%>/<%= recipes[i]._id%>" id="index-show">Show Me More!</a>
               
            </div>
            <% } %>
                

        </div>

        
    </body>


</html>