<!DOCTYPE html>
<html>

    <%- include('./partials/head') %>  
    
    <body>
        <%- include('./partials/nav') %>

        <div class="after-navbar newrecipe">

            <%- include('./partials/alerts') %>

            <div class="after-navbar">
                <h1 class="text-center mb-2">Upload your own recipe!</h1>

                <form method="POST" action="/recipes" enctype="multipart/form-data">
        
                    <div class="col-md-8 m-auto">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6>Name of Dish</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="name" 
                                            <% if (typeof name !== 'undefined') { %>
                                                value="<%=name%>"
                                            <%} else {%>
                                                value="<%=""%>" 
                                            <%}%> >
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Prepared by</h6>
                                        <h6>(if left blank, will follow user id)</h6>
                                    </div>
                                    
                                    <div class="col-sm-9 text-secondary">
                                        <div id="updateTags">
                                            <input type="text" class="form-control mb-2" name="prepared_by" value="<%=user.user_id%>">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6>Picture of the Dish</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="file"  accept="image/gif, image/jpeg, image/png, image/jpg, image/webp" name="newImage" id="file" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Cuisine Type</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <select  class="form-select" name="cuisine"> 
                                            <option selected>Cuisine Type</option>
                                                <option value="chinese">Chinese</option>
                                                <option value="indian">Indian</option>
                                                <option value="japanese">japanese</option>
                                                <option value="middle-eastern">Middle Eastern</option>
                                                <option value="french">French</option>
                                                <option value="italian">Italian</option>
                                                <option value="spanish">Spanish</option>
                                                <option value="mexican">Mexican</option>                                                
                                                <option value="asian">Asian</option>
                                                <option value="others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Serves</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <select class="form-select" name="serves">
                                            <option selected>Serves</option>
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value=">4">5 or more</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Time to Cook</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <select class="form-select" name="time">
                                            <option selected>Time Taken</option>
                                              <option value="30 mins">30 Mins</option>
                                              <option value="1 hr">1 Hour</option>
                                              <option value="1 hr 30 mins">1 Hour 30 mins</option>
                                              <option value="2 hrs">2 Hours</option>
                                              <option value="2 hrs 30 mins">2 Hour 30 mins</option>
                                              <option value="3 hrs">3 Hours</option>
                                              <option value=">3hrs">More than 3 hours</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>  
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Difficulty</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <select class="form-select" name="difficulty">
                                            <option selected>Difficulty</option>
                                                <option value="Easy">Easy</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Hard">Hard</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Summary of Dish</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <textarea class="form-control" rows="3" name="summary" placeholder="Brief Summary of Dish" 
                                        <% if (typeof summary  !== 'undefined') { %>
                                            value="<%=summary %>"
                                        <%} else {%>
                                            value=""
                                        <%}%> ></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ingredient List</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <div id="ingredientList">
                                            <input type="text" class="form-control mb-2" name="ingredient[]" placeholder="Ingredient, Amount Required (E.g: Salt, 500mg)" 
                                            <% if (typeof ingredient !== 'undefined') { %>
                                                value="<%=ingredient%>"
                                            <%} else {%>
                                                value="" 
                                            <%}%>>
                                        </div>                               
                                        <button type="button" class="btn btn-outline-primary mt-1" id="add-ingredient">Add</button>
                                        <button type="button" class="btn btn-outline-danger mt-1" id="del-ingredient">Delete</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Cooking Instructions</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <div id="instructionList">
                                            <input type="text" class="form-control mb-2" name="instruction[]" placeholder="Step to Take" 
                                            <% if (typeof instruction !== 'undefined') { %>
                                                value="<%=instruction%>"
                                            <%} else {%>
                                                value="" 
                                            <%}%>>           
                                        </div>
                                        <button type="button" class="btn btn-outline-primary mt-1" id="add-steps">Add</button>
                                        <button type="button" class="btn btn-outline-danger mt-1" id="delete-steps">Delete</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row edit-form">
                                    <div class="col-sm-3">
                                        <h6>Tags (#tag seperated by commas)</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="newTags" 
                                            <% if (typeof newTags !== 'undefined') { %>
                                                value="<%=newTags%>"
                                            <%} else {%>
                                                value="" 
                                            <%}%>>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info" >Submit</button>
                                        <a href='/user/<%=user.user_id%>/dashboard'><button type="button" class="btn btn-info" style="background-color: lightgreen;">Go Back Without Saving</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
            
        
                </form>
                
            </div>
        </div>

    
    <!-- Script file to work with the add additonal input field buttons -->
        <script > 
            <%- include("../scripts/new-recipe.js") %> 
        </script> 

    </body>

   
</html>