<!DOCTYPE html>
<html>
    
    <%- include('./partials/head') %>
    
    <body>

        <%- include('./partials/nav') %>
        
         <object data="/Images/FoodGram (1).svg" width="max-width" id="banner"> </object>
         <%- include('./partials/alerts')%>
        <div class="mt-5">

            <div style="margin-top: 6em;">
                <div id="searchWrapper" style="display: flex; justify-content:center;">
                    <form method="POST" action='/recipes/filter'>
                        <input type="text" name="searchTagInput" id="searchTagInput" placeholder="search #tags"/>
                        <button type="submit" id="search-tag"><i class="fa fa-search"></i></button>
                    </form>
                        
                </div>
            </div>
        
            
            <div class="row" id="whole-list">
                <% for(let i=0; i < recipes.length; i++) { %>

                    <div class="card index-card <%=recipes[i].cuisine%>" style="width: 24rem; height: auto;">
                        <h5 class="card-title mt-3 mb-3 text-center"><%=recipes[i].name%></h5>
                        <div class="embed-responsive">
                            <img src="<%=recipes[i].image%>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-header p-0 m-auto" style="height: fit-content;">
                          <ul class="snapshot">
                            <li class="snapshot"><span class="iconify" data-icon="bx:bxs-user" data-inline="true"></span><span><%=recipes[i].serves%> </span></li>
                            <li class="snapshot"><span class="iconify" data-icon="ant-design:clock-circle-outlined" data-inline="true"></span><span><%=recipes[i].time%></span></li>
                            <% if(recipes[i].difficulty === 'Easy') { %>
                            <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-1" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } else if(recipes[i].difficulty === 'Medium') { %>
                                <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-2" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } else if(recipes[i].difficulty === 'Hard') { %>
                                <li class="snapshot"><span class="iconify" data-icon="mdi:signal-cellular-3" data-inline="true"></span><span><%=recipes[i].difficulty%></span></li>
                            <% } %>
                            
                            <% if(recipes[i].reviews.length > 0) { %>
                                <% let ratingSum = 0; %>
                                <% for (let j = 0; j<recipes[i].reviews.length; j++) { %>
                                    <% ratingSum += recipes[i].reviews[j].rating %>
                                <% } %>
                                <% let averageReviews = ratingSum/recipes[i].reviews.length %>        
                                <li class="snapshot"><span><%=averageReviews.toFixed(2)%><span class="iconify" data-icon="typcn-star" data-inline="true"></span></span></li>
                            <% } %>
                        </ul>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><%= recipes[i].summary %></p>
                          <div class="row mb-2 mt-3">
                            <% if(recipes[i].tags) { %>
                                
                                <%for(let j = 0; j < recipes[i].tags.length; j++) {%>
                                    <%=recipes[i].tags[j].tag%> 
                                <%}%>
                                
                            <%}%>
                            </div>
                          <a href="/recipes/<%= recipes[i]._id%>" class="btn btn-primary">Show Full Recipe</a>
                        </div>
                      </div>
    
                <% } %>

            </div>
        </div>
        
    </body>

    <%- include('./partials/footer') %> 


</html>